.log-in-container{
    box-sizing: border-box; /*Hace que las dimensiones de border, pathing y margin se incluyan dentro de las dimenciones del box*/
    height:215px; /*Altura del box*/
    width:25%; /*Anchura del box*/
    margin:auto;/*Margen externo del box*/
    padding:none;/*Margen interno del box*/

    background: linear-gradient(rgba(134, 100, 53, 1),rgba(89, 59, 52, 1)); 

    position:relative;
}

.log-in-button {
    position : absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);

    height: auto; /*Altura del box*/
    padding: 8px 8px; /*Margen interno del box*/
    border-radius: 10px; /*Redondeado bordes del box*/
    background: linear-gradient(rgba(132, 140, 66, 1),rgba(83, 89, 39, 1));
    border: 1px;

    font-size:medium;
    text-align: center; /*Alinear texto en box*/
    color:blanchedalmond;

    transition-duration:0s;/*Tiempo de transición a hover(Cuando cursos pasa encima) y activated(Cuando se activa)*/
}

.log-in-button:hover{
    background: rgba(132, 140, 66, 1); 
}

.log-in-button:active{
    background: linear-gradient(rgba(83, 89, 39, 1),rgba(132, 140, 66, 1)); 
}