.logo-container {
    box-sizing: border-box; /*Hace que las dimensiones de border, pathing y margin se incluyan dentro de las dimenciones del box*/
    height:215px; /*Altura del box*/
    width:25%; /*Anchura del box*/
    margin:auto;/*Margen externo del box*/
    padding:none;/*Margen interno del box*/

    background-color:blanchedalmond;

    position: relative;

    h1{
       color:black;
       text-align: center;

       position: absolute;
       top:50%;
       right:50%;
       transform: translate(50%, -50%);
    }
}